html, body {
	height: 100%;
	overflow: hidden;
}
body {
	background: #222;
	padding: 0;
	margin: 0;
}
h2 {
	font-family: 'Trade Winds', cursive;
	font-size: 40px;
	margin:0;
	position: absolute;
	top: 20px;
	right: 30px
}

.container {
	width: 100%;
	height: 100%;
	z-index: 888;
	color: white;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: inset 0 0 0 1000rem rgba(100,100,100, .1);
}

/* Imagens */
.img {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: opacity 1s;
}

@media (max-width: 700px) {
	.img {
		width: auto;
		height: 100%;
	}
	h2 {
		font-size: 70px
	}
}

.visivel {
	opacity: 1
}
.oculto {
	opacity: 0
}

/* Icones */
.img-icons {
	vertical-align: middle;
	stroke-width: .5;
	width: 60px;
	height: 60px;
	margin: 30px 8px 0 8px;
	transition: all .1s;
	cursor: pointer;
}
.icon-center {
	width: 130px;
	height: 130px;
	stroke-width: .3;
}
.clique {
	stroke: #007bff !important
}


/* Load */
@keyframes load {
	0% {
		left: 0;
		width: 0%
	}
	50% {
		width: 100%;
		right: 0
	}
	100% {
		right: 0
	}
}
#load {
	position: absolute;
	top: 0;
	z-index: 999;
	width: 0%;
	height: 3px;
	background: white;
	animation: load 1.4s infinite linear;
}

/* Animação load Play e Pause */
@keyframes play {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
#play.load-play, #pause.load-play {
	animation: play 2s infinite linear;
}

#player {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}